
// main stuff here

* {
	box-sizing:border-box;
}

body {
	background-color:black !important;
}
@font-face {
	font-family: 'Roundy';
	src: url('../fonts/PoiretOne-Regular.ttf');
}
@font-face {
	font-family: 'Simonetta';
	src: url('../fonts/Simonetta-Regular.ttf');
}

@height: -60px;

.titleblock {
	position:fixed;	
	background:rgba(0,0,0,0.72);	
	left:0px; right:0px; top:68%; bottom:0px;
	margin: -49px 0 -40px 0px;
	padding:5px 0 0 45px;
	.title {
		font-family:'Roundy';		
		color:white;
		// text-align:center;
		font-size:144pt;
		vertical-align:middle;
	}
}
.halfblock {
	font-family:'Roundy';
	padding: 0px 0px 0px 0px;
	// background:rgba(0,0,0,0.1); //  @opac);		
	color:white;
	position:fixed;	
	left:0px; right:0px; top:68%; bottom:0%;
	.tagline {
		font-size:14pt;
		margin: 44px 0 0 0;
		padding: 4px 0px 0px 344px;
	}
	.body {
		font-size:12pt;
		font-family:sans-serif;
		font-weight:100;
		color:rgba(255,255,255,0.6);
		padding: 4px 0 0 344px;
	}
}

.backdrop_image {
   -webkit-background-size: cover !important;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   opacity:0;
   position:fixed;
   top:0px; bottom:0px; right:0px; left:0px;
   &.selected {
	   opacity:1.0;
   }
   -webkit-transition: opacity 1s ease-in-out;
}

ul {
  list-style-type:none;
}

.blog {
  color:white;
  background:rgba(0,0,0,0.8);
  position:absolute;
  width:500px;
  right: 20%;
  .title { font-size:140%; }
  margin:20px;
  padding:40px;
}

