/*@import url('boilerplate-base.css');*/
/*@import url('1140.css');*/
@import url('fonts.css');
/*@import url('isotope.css');*/

html,
body {
    height: 100%;
}

body {
    background:white;
    color:black;
    font-family: 'District Thin';
    -webkit-user-select: none;
    margin:0px;
    overflow-x:hidden;
    box-sizing:border-box;
}

A {
    text-decoration:none;
    opacity:0.6;
}

#main {
    width:100%;
    max-width:1140px;
    min-height:900px;
    margin-left:auto; margin-right:auto;
    margin-top:100px;     
}

.lhs, .rhs {   display:inline-block;  height:100% }
.lhs { border:1px solid blue; }
.rhs { border:1px solid grey;}
.selected {  border:1px solid green;  }
.stream { border: 1px solid brown; height:500px; overflow:auto; }

footer {
    border-top:1px solid rgba(0,0,0,0.8);;
    width:100%;
    font-size:8pt;
    color:rgba(0,0,0,0.8);
}
.article {
    position: relative;    
    font-size:16pt;
    overflow:hidden;
    height:160px;
    width:160px;
    margin:5px;
    padding:20px;
    border:1px solid rgba(0,0,0,0.4);    
}
.headline_article {
    height:400px;
    width:400px;
}
.headline_article .title {
    font-size:72pt;
}
.row {
}



.isotope,
.isotope .article {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .article {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .article,
.isotope .article.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

