/*@import url('boilerplate-base.css');*/
/*@import url('1140.css');*/
@import url('fonts.css');
/*@import url('isotope.css');*/
* {
    box-sizing:border-box;
}
html,
body {
    height: 100%;
}

body {
    padding-top:100px;
    background:white;
    color:black;
    font-family: 'District Thin';
    -webkit-user-select: none;
    margin:0px;
    position:relative;    
}


A {
    text-decoration:none;
    opacity:0.6;
}

#main {
    height:600px;
    min-height:520px;
    margin-left:auto; margin-right:auto;
    overflow-x: scroll;
    border:1px solid grey;
    position:absolute;
    top:50%; left:0px;
    right:0px;
    margin-top:-300px;
}

.lhs, .rhs {
    display:inline-block;  height:100%;  vertical-align: top;
}
.lhs {
    padding:30px; position:absolute; left:0px; top:0px; bottom:0px; width:500px; background:rgba(230,255,255,0.9); z-index: 5;
}
.rhs {
    position:absolute; left:0px; right:0px; top:0px; bottom:0px; z-index:0;
    overflow-x:scroll; height-max:900px;
}
.selected {
    border:1px solid rgba(0,0,0,0.4);
}
.stream { }

footer {
    border-top:1px solid rgba(0,0,0,0.8);;
    width:100%;
    font-size:8pt;
    color:rgba(0,0,0,0.8);
}
.article {
    position: relative;    
    font-size:16pt;
    overflow:hidden;
    height:160px;
    width:160px;
    margin:5px;
    padding:20px;
    border:1px solid rgba(0,0,0,0.4);    
}

.headline_article {
    background:rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.3);    
    height:420px;
    width:420px;
}

.headline_article .title {
    font-size:72pt;
}
.row {
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



